@model LibraryManagement.Web.ViewModels.UserModel
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header  bg-gradient-gray-dark">
            @if (Model.ID != null)
                {
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
            }
            else
            {
                <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
            }

            <button type="button" class="close btn btn-warning btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="userForm">

                <input type="hidden" value="@Model.ID" name="ID" />
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <input type="text" autocomplete="off" class="form-control" value="@Model.FullName" name="FullName" id="FullName" placeholder="Enter your fullname">
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" autocomplete="off" class="form-control" value="@Model.Email" name="Email" id="Email" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label for="UserName">UserName</label>
                    <input type="text" autocomplete="off" class="form-control" value="@Model.UserName" name="UserName" id="UserName" placeholder="Enter your UserName">
                </div>
                @if (string.IsNullOrEmpty(Model.ID))
                {
                    <div class="form-group">
                        <label for="City">Password</label>
                        <input type="password" autocomplete="off" class="form-control" value="@Model.Password" name="Password" id="Password" placeholder="Enter your Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">ConfirmPassword</label>
                        <input type="password" autocomplete="off" class="form-control" value="@Model.ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" placeholder="Enter  Confirm Password">
                    </div>
                }
            </form>
        </div>
        <div class="erroDiv">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            <button type="button" class="btn btn-danger" id="btnSave"><i class="fas fa-save"></i> Save</button>
        </div>
    </div>
}


<script>
    //Initialize Select2 Elements
    $('.select2').select2()
    $("#btnSave").on('click', function () {
        $.ajax({
            method: 'post',
            url: '@Url.Action("Action","Users")',
            data: $("#userForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                $('#myModal').modal('toggle');
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: response.Message,
                    showConfirmButton: false,
                    timer: 1500
                })
                window.setTimeout(function () {
                    window.location.reload();
                }, 1500)
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: response.Message,
                    showConfirmButton: true,

                })
            }

        })

    })
</script>