@model LibraryManagement.Web.ViewModels.UserRolesModel
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header  bg-gradient-gray-dark">
          
                <h5 class="modal-title" id="exampleModalLabel">User Roles</h5>
            

            <button type="button" class="close btn btn-warning btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2"> Current User Roles </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Roles != null && Model.UserRoles.Count() > 0)
                            {
                                foreach (var role in Model.UserRoles)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td><button data-href="@Url.Action("UserRoleOperation", "Users", new { userId = Model.UserID, roleId = role.Id, isDelete = true})" class="userRoleOperation btn btn-danger btn-sm"><i class="fas fa-user-times"></i> Delete</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2">
                                        <div class="alert alert-secondary" role="alert">
                                            No roles available !!.
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
          

            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2"> Assign New Role </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Roles != null && Model.Roles.Count() > 0)
                            {
                                foreach (var role in Model.Roles)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td><button data-href="@Url.Action("UserRoleOperation", "Users", new {userId = Model.UserID, roleid = role.Id })" class="userRoleOperation btn-success btn-sm"><i class="fas fa-user-check"></i> Assign Role</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2">
                                        <div class="alert alert-secondary" role="alert">
                                             No roles exist !!.
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            
        </div>
  
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        </div>
    </div>
}


<script>


    $(".userRoleOperation").on('click', function () {
        $.ajax({
            method: 'post',
            url: $(this).attr('data-href')
        }).done(function (response) {
            if (response.Success) {
             
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: response.Message,
                    showConfirmButton: false,
                    timer: 1500
                })
                window.setTimeout(function () {
                    $.ajax({
                        method: 'Get',
                        url: '@Url.Action("UserRoles", "Users", new { id = Model.UserID })'
                    }).done(function (response) {
                        $("#myModal .modal-dialog").html(response);
                    })
                }, 1500)
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: response.Message,
                    showConfirmButton: true,

                })
            }

        })

    })
</script>
