@model LibraryManagement.Web.ViewModels.StudentActionModel
<div class="card mt-1">
    <section class="card-header">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.ID > 0)
                {
                    <h4>Student Edit</h4>
                }
                else
                {
                    <h4>Student Add</h4>
                }

            </div>
        </div>
    </section>
    <div class="card-body">
        <form id="studentForm">
            <div class="row">

                <div class="col-md-4">
                    <label class="font-weight-bold" for="Code">Code</label>
                    <input type="text" name="Code" class="form-control" id="Code" value="@Model.Code" disabled />

                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Name"> Name </label>
                    <input type="text" name="Name" autocomplete="off" class="form-control" value="@Model.Name" id="Name" placeholder="Please enter  Name" />

                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Email">Email</label>
                    <input type="email" name="Email" class="form-control" id="Email" value="@Model.Email" autocomplete="off" placeholder="Please enter  Email" />

                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Phone"> Phone</label>
                    <input type="text" name="Phone" class="form-control" id="Phone" value="@Model.Phone" autocomplete="off" placeholder="Please enter  Phone Number" />

                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Semester">Semester</label>
                    <input type="text" name="Semester" autocomplete="off" class="form-control" id="Semester" value="@Model.Semester" placeholder="Please enter Semester" />
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="DepartmentID">Department</label>
                    <select class="form-control select2bs4" name="DepartmentID">
                        <option selected disabled>Please select Department</option>
                        @foreach (var department in Model.Departments)
                        {
                            var selected = Model.DepartmentID == department.ID ? "selected" : string.Empty;
                            <option value="@department.ID" @selected>@department.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Gender">Gender</label>
                    <select class="form-control select2bs4" name="Gender">
                        <option selected disabled>Please select Gender</option>
                        @foreach (var gender in Model.Genders)
                        {
                            var selected = Model.Gender == gender.ToString() ? "selected" : string.Empty;
                            <option value="@gender" @selected>@gender</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="City">City</label>
                    <input type="text" name="City" autocomplete="off" class="form-control" id="City" value="@Model.City" placeholder="Please enter City" />
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="Address">Address</label>
                    <textarea id="Address" name="Address" autocomplete="off" class="form-control">@Model.Address</textarea>
                </div>
                <div class="col-md-4">
                    <label for="exampleFormControlFile1">Pictures</label>
                    <input id="selectFile" type="file" class="form-control-file" multiple>
                </div>
                <div class="col-md-8 p-2 mt-2" id="pictureArea">
                    @if (Model.Pictures != null && Model.Pictures.Count > 0)
                    {
                        foreach (var picture in Model.Pictures)
                        {
                            <img src="/Content/images/BookImage/@picture.Pictures.URL" class="img-fluid img-thumbnail p-1" style="width:200px; height:200px; cursor:pointer; border:1px solid black" onclick="removeMe(this)" data-id="@picture.PictureID" />
                        }
                    }
                    <input type="hidden" id="pictueIDs" name="PictureIDs" />
                </div>
            </div>

        </form>

    </div>
    <div class="card-footer">
        <button id="btnSave" class="btn btn-success btn-sm"><i class="fas fa-save"></i> Save</button>
        <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Student")"><i class="fas fa-arrow-alt-circle-left"></i> Back To List</a>
    </div>
    <div id="imageTemplate">
        <img src="" class="img-fluid" style="width:200px;" onclick="removeMe(this)" />
    </div>
</div>

<script>
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        $("#btnSave").on('click', function () {
            var imageIDs = [];
            $("#pictureArea img").each(function () {
                var imageID = $(this).attr("data-id");
                imageIDs.push(imageID);
            });
            $("#pictueIDs").val(imageIDs.join());
        $.ajax({
            method:'Post',
            url: '@Url.Action("Action", "Student")',
            data: $("#studentForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: response.Message,
                    showConfirmButton: false,
                    timer: 1500
                })
                window.setTimeout(function () {
                    window.location.href = "@Url.Action("Action","Student")";
                }, 1500)
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: response.Message,
                    showConfirmButton: true,

                })
            }

        })

    })
    $("#selectFile").on("change", function () {
        var pictures = this.files;
        var formData = new FormData();
        for (var i = 0; i < pictures.length; i++) {
            formData.append("Picture ",pictures[i]);
        }
        $.ajax({
            method:'Post',
            url: '@Url.Action("UploadPicture", "Picture")',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType:false
        }).done(function (response) {
            for (var i = 0; i < response.pictuerJSON.length; i++) {
                var picture = response.pictuerJSON[i];
                var $imgHTML = $("#imageTemplate").clone();
                $imgHTML.find('img').attr('src', '/Content/images/BookImage/' + picture.URL).addClass('img-thumbnail').css({ 'cursor': 'pointer', 'height': 200, 'border': '1px solid black' });
                $imgHTML.find('img').attr('data-id',picture.ID );
                $("#pictureArea").append($imgHTML.html());
            }

        }).fail(function (xhr, status, error) {
            alert("Some error");
            console.log(error);
        })

    })
    function removeMe(element) {
        element.remove();
    }
</script>

