  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/Content/dist/img/credit/logo.png" alt="Hotel Management" class="brand-image img-circle elevation-3"
             style="opacity: .8" />
        <span class="brand-text font-weight-light">Hotel Management</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/dist/img/45887176_2039127959482269_5993646807396122624_n.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="#" class="d-block">Md Somrat Akbor</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="@Url.Action("Index","Dashboard")" class="nav-link">
                        <i class="fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Student")" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p>
                            Students
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Book")" class="nav-link">
                        <i class="fas fa-book"></i>
                        <p>
                            Books
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Department")" class="nav-link">
                        <i class="fas fa-person-booth"></i>
                        <p>
                            Departments
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Users")" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Roles")" class="nav-link">
                        <i class="fas fa-users-cog"></i>
                        <p>
                            Roles
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>